:root {
  --accent-color: #FF6B0A;
  --text-main: #1B1D1F;
  --text-second: #FFFFFF;
  --theme-bg: #FFFFFF;
  --theme-imput-border: #005BBB;
  --modal-icon: #1B1D1F;
  --typical-transition-duration: 250ms;
  --typical-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-main);
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

.gus-facts__title, .footer__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 2.08;
}

.gus-facts__heading, .modal__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
}

.btn, .hero__text, .gus-facts__text, .gus-facts__description, .footer__text, .modal__text, .modal__label {
  font-size: 16px;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 172px;
  height: 48px;
  border-radius: 8px;
  color: var(--text-second);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  outline: none;
}

.main-page {
  width: 1360px;
  margin: 0 auto;
  background: linear-gradient(269.89deg, #A5DEFF 0.12%, #FCFEFF 99.93%);
}

.wrapper {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding-top: 32px;
  padding-bottom: 56px;
  align-items: center;
}

.header__text {
  margin-left: 16px;
  width: 125px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #010101;
}

.hero {
  padding: 120px 0 80px 0;
}

.hero__container {
  align-self: center;
  padding: 60px 0 60px 56px;
  max-width: 537px;
  background-color: var(--theme-bg);
}

.hero__top-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.hero__header {
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.hero__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.12;
  margin-bottom: 24px;
}

.hero__text {
  margin-bottom: 48px;
}

.hero__img {
  position: absolute;
  bottom: 0;
  right: -93px;
}

.gus-facts {
  text-align: center;
  padding-top: 52px;
}

.gus-facts__tryzub {
  margin-bottom: 16px;
}

.gus-facts__title {
  margin-bottom: 16px;
}

.gus-facts__text {
  margin: 0 auto 24px;
  width: 875px;
}

.gus-facts__list {
  display: flex;
}

.gus-facts__item:not(:last-child) {
  margin-right: 30px;
}

.gus-facts__img {
  margin-bottom: 12px;
}

.gus-facts__information {
  padding: 0 47px;
  text-align: start;
}

.gus-facts__heading {
  margin-bottom: 32px;
}

.footer {
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

.footer__box {
  padding-top: 72px;
  padding-bottom: 72px;
  background: linear-gradient(269.89deg, #C1E8FF 0.12%, #FFFFFF 99.93%);
}

.footer__tryzub {
  margin-bottom: 16px;
}

.footer__title {
  margin-bottom: 16px;
}

.footer__text {
  width: 875px;
  margin: 0 auto;
}

.modal-backdrob {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 29, 31, 0.7);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity var(--typical-transition-duration) var(--typical-transition-timing-function), visibility var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.modal-backdrob.modal-active {
  pointer-events: all;
  visibility: visible;
  opacity: 1;
}

.modal {
  position: relative;
  min-width: 573px;
  max-height: 516px;
  padding: 32px 93px 60px;
  text-align: center;
  background-color: var(--theme-bg);
  transform: scale(0.7);
  transition: transform var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.modal-backdrob.modal-active .modal {
  transform: scale(1);
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  fill: var(--modal-icon);
  transform: scale(1);
  transition: transform var(--typical-transition-duration) var(--typical-transition-timing-function), fill var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
  transform: scale(1.2);
}

.modal__tryzub {
  margin-bottom: 32px;
}

.modal__title {
  margin-bottom: 12px;
}

.modal__form {
  margin-top: 24px;
  margin-bottom: 40px;
}

.modal__field {
  width: 374px;
  margin-bottom: 16px;
  text-align: start;
}

.modal__label {
  margin-bottom: 4px;
}

.modal__input {
  display: block;
  height: 48px;
  width: 100%;
  border: 1px solid var(--theme-imput-border);
  border-radius: 8px;
  padding-left: 15px;
  outline: none;
  transition: border-color var(--typical-transition-duration) var(--typical-transition-timing-function);
}

.modal__input:focus-within {
  border: 3px solid var(--accent-color);
}

.modal__btn {
  display: block;
  margin: 0 auto;
}

.body-fixed {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */