.modal-backdrob {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(27, 29, 31, 0.7);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity var(--typical-transition-duration) var(--typical-transition-timing-function),
    visibility var(--typical-transition-duration) var(--typical-transition-timing-function);
    &.modal-active {
        pointer-events: all;
        visibility: visible;
        opacity: 1;
    }
}

.modal {
    position: relative;
    min-width: 573px;
    max-height: 516px;
    padding: 32px 93px 60px;
    text-align: center;
    background-color: var(--theme-bg);
    transform: scale(0.7);
    transition: transform var(--typical-transition-duration) var(--typical-transition-timing-function);
    .modal-backdrob.modal-active & {
        transform: scale(1);
    }

    &__close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        fill: var(--modal-icon);
        transform: scale(1);
        transition: transform var(--typical-transition-duration) var(--typical-transition-timing-function), 
            fill var(--typical-transition-duration) var(--typical-transition-timing-function);
    
        &:hover,
        &:focus {
            fill: var(--accent-color);
            transform: scale(1.2);
        }
    }
    &__tryzub {
        margin-bottom: 32px;
    }
    &__title {
        @extend %third-title;
        margin-bottom: 12px;
    }
    &__text {
        @extend %text;
    }
    &__form {
        margin-top: 24px;
        margin-bottom: 40px;
    }
    &__field {
        width: 374px;
        margin-bottom: 16px;
        text-align: start;
    }
    &__label {
        @extend %text;
        margin-bottom: 4px;
    }
    &__input {
        display: block;
        height: 48px;
        width: 100%;
        border: 1px solid var(--theme-imput-border);
        border-radius: 8px;
        padding-left: 15px;
        outline: none;
        transition: border-color var(--typical-transition-duration) var(--typical-transition-timing-function);
        &:focus-within {
            border: 3px solid var(--accent-color);
        }
    }
    &__btn {
        display: block;
        margin: 0 auto;
    }
}

.body-fixed {
    overflow: hidden;
  }