:root {
    --accent-color: #FF6B0A; 
    --text-main: #1B1D1F;
    --text-second: #FFFFFF;
    --theme-bg: #FFFFFF;
    --theme-imput-border: #005BBB;
    
    --typical-transition-duration: 250ms;
    --typical-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-main);
    font-style: normal;
    letter-spacing: 0.03em;
}